/*--- Global Variables ---*/
:root {
    /* Global use */
    --white-90p: #e6e6e6;
    --white-85p: #d9d9d9;
    /* For theming */
    --nav-text: #d9d9d9;
    --sideBar-text: #d9d9d9;
    --sideBar-text-bg: #2d3238;
    --primary-color: #ffcc99;
    --primary-color-active: #ffb366;
    --text-primary-color: #ff8000;
    --text-primary-color-active: #ffb366;
    --btn-primary-text: #404040;
    --btn-primary-text-active: #4d4d4d;
    --content-body-bg: #e9ebee;
    --content-footer-bg: #ffffff;
    --footer-divider: #bfbfbf;
    --dropdown-dark-item-bg-active: #1a1a1a;
    /* Measurement */
    --spacing-regular: 24px;
    --navbar-height: 65px;
    --sidebar-width: 225px;
    --sidebar-width-active: 100px;
    --col-3-padding-x: 15px;
    --col-4-padding-x: 25px;
    --border-radius: 0.25rem;
    --radius-spin: 350px;
    --angel-spin: 72deg;
    --circular-spin-duration: 4s;
}

/*--- Custom Styles ---*/
html,
body {
    height: 100%;
    width: 100%;
}

iframe.width-changed {
    width: 100%;
    display: block;
    border: 0;
    height: 0;
    margin: 0;
}

#btnToTop {
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    font-size: 1em;
    color: var(--sideBar-text);
    border-radius: 50%;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--btn-primary-text);
    box-shadow: none;
}

.btn-primary:hover {
    background-color: var(--primary-color-active);
    border-color: var(--primary-color-active);
    color: var(--btn-primary-text-active);
}

.btn-border-lightWhite {
    border-color: var(--white-85p);
}

.btn-border-lightWhite:hover {
    border-color: #fff !important;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.no-padding {
    padding: 0 !important;
}

.content-w {
    margin: 0 auto;
    padding: 0 var(--spacing-regular);
    max-width: 92.5%;
}

.content-top {
    padding-top: var(--spacing-regular);
}

.form-group > label {
    font-size: 1.1rem;
    font-weight: 500;
}

.navbar-expand > .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.block-rounded {
    min-width: 100%;
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-regular);
}

.block-fx-shadow {
    box-shadow: 0 0 36px #dee2e5;
    opacity: 1;
}

.block-header {
    border-bottom: solid 1px var(--content-body-bg);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.block-header,
.block-content,
.cCard-content {
    padding: 0.5rem;
}

.block-header h1,
.block-header h2,
.block-header h3,
.block-header h4,
.block-header h5,
.block-header h6 {
    margin: 0;
}

.block-content .block-content--title {
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
/*--- Custom Card ---*/
.cCard-rounded {
    min-width: 100%;
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-regular);
}

.cCard-header {
    border-bottom: solid 1px var(--content-body-bg);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 1rem 0.5rem;
}

.cCard-content h4 {
    font-size: 1.25rem;
}

.cCard-footer {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-top: solid 1px var(--content-body-bg);
    padding: 0.5rem;
}
/*--- Sidebar ---*/
.wrapper {
    display: flex;
    align-items: stretch;
}
/*--- When not active ---*/
#sidebar {
    width: var(--sidebar-width);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    color: var(--sideBar-text);
    transition: all 0.3s;
}
#sidebar .sidebar-header {
    padding: 40px;
}

#sidebar ul.components {
    margin: 30px 0;
    padding: 30px 0;
    border-bottom: solid 2.5px var(--sideBar-text-bg);
    border-top: solid 2.5px var(--sideBar-text-bg);
}

#sidebar ul li {
    padding-bottom: 10px;
}

#sidebar ul li a {
    padding: 10px;
    padding-left: 20px;
    font-size: 1.1em;
    display: block;
    text-align: left;
    color: var(--sideBar-text);
}

#sidebar ul li a:hover {
    color: var(--primary-color-active);
    background: var(--sideBar-text-bg);
    text-decoration: none;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul ul li {
    padding-bottom: 0px;
}

#sidebar ul ul li a {
    padding-left: 40px;
    background: var(--sideBar-text-bg);
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    /* Change Dropdown Icon */
    border: none !important;
    font: normal normal normal 25px/1 FontAwesome;
    content: "\f107" !important;
    /* Change Position and Animation */
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
/*--- When actived ---*/
#sidebar.active {
    width: var(--sidebar-width-active);
    text-align: center;
}

#sidebar.active .sidebar-header {
    padding: 10px;
    border-bottom: none;
}

#sidebar.active ul.components {
    margin: 0;
    padding: 20px 0;
    border: none;
}

#sidebar.active ul li {
    padding-bottom: 0px;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 5px;
    display: block;
    font-size: 1.8em;
}

#sidebar.active ul ul a {
    font-size: 0.75em;
    padding: 10px 0 !important;
}

#sidebar.active ul ul .fa-file-signature {
    padding-left: 7.5px !important;
}

#sidebar.active .dropdown-toggle::after {
    font: normal normal normal 15px/1 FontAwesome;
    vertical-align: 0;
    top: auto;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar ul li.active > a {
    color: var(--primary-color-active);
}

#sidebar a[aria-expanded="true"] {
    background: var(--sideBar-text-bg);
}
/*--- Page Content style ---*/
#content {
    width: calc(100% - var(--sidebar-width));
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--content-body-bg);
}

#content.active {
    width: calc(100% - var(--sidebar-width-active));
}

/*--- Navigation Bar ---*/
.navbar {
    width: calc(100% - var(--sidebar-width));
    transition: all 0.3s;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    min-height: var(--navbar-height);
}

.navbar.active {
    width: calc(100% - var(--sidebar-width-active));
}

.navbar-nav li {
    padding-left: 20px;
}

.navbar-nav li a {
    color: var(--nav-text) !important;
}

.navbar-nav li a .fa-search {
    font-size: 1.2em;
}

.navbar .dropdown-toggle::after {
    border: none !important;
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f107" !important;
    vertical-align: -7.5%;
}

.navbar .dropdown-header,
.navbar .dropdown-item {
    padding: 0.5rem 1rem;
}

.navbar .dropdown-item {
    padding: 0.65rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar .dropdown-item:hover {
    background-color: var(--dropdown-dark-item-bg-active);
}

.navbar .dropdown-divider {
    border-color: #666666;
}
/*--- Content Body ---*/
#contentBody {
    padding-bottom: 20px;
}

#contentBodyTitle {
    color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#contentBodyTitle .bg-op {
    background-color: rgba(0, 0, 0, 0.6);
}

#contentBodyTitle .title-container {
    padding-top: calc(var(--navbar-height) + 10px);
}

#content .col-items > div {
    margin-bottom: 36px;
}

#content .avatar-lg {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--primary-color);
}

#content .avatar-md {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

#content .avatar-fx-shadow-md {
    box-shadow: 0 0 0 3px var(--primary-color);
}

#content .avatar-sm {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#content .avatar-fx-shadow-sm {
    box-shadow: 0 0 0 2px var(--primary-color);
}

#content .avatar-xs {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#content .avatar-fx-shadow-xs {
    box-shadow: 0 0 0 1.5px var(--primary-color);
}

#content .user-name {
    color: #cc7a00;
    font-weight: 500;
    font-size: 1.1rem;
}

#content .user-name:hover {
    color: var(--text-primary-color-active);
}

#slider_clubImage {
    width: 90%;
    margin: 1rem auto;
}

#slider_clubImage .carousel-inner {
    max-height: 550px;
}

#slider_clubImage .carousel-inner .carousel-item > img {
    max-height: 550px !important;
}

#content .club-arch-item i {
    font-size: 4rem;
    margin-bottom: 1rem;
}

#content .club-arch-item {
    font-size: 1.1rem;
    text-align: center;
}
#content .club-mem-card {
    width: 225px;
}

#content .club-mem-card .block-header {
    padding: 1.25rem;
}

#content .cCard-footer a {
    font-size: 2rem;
}

#content .club-mem-container {
    position: relative;
    min-height: 900px;
    margin-top: 1rem;
}

#content .club-mem-container #clubMem_1 {
    position: absolute;
    z-index: 106;
    top: calc(var(--radius-spin));
    left: calc(50% - 225px / 2);
}

#content .club-mem-container #clubMem_2 {
    position: absolute;
    z-index: 105;
    top: var(--radius-spin);
    left: calc(50% - 225px / 2);
    /* animation: rotate-1 var(--circular-spin-duration) linear infinite; */
    animation: rotate-init var(--circular-spin-duration) ease-out 1;
    transform: rotate(calc(0deg + var(--angel-spin) * 0)) translateY(calc(0px - var(--radius-spin)))
        rotate(calc(0deg - var(--angel-spin) * 0));
}

#content .club-mem-container #clubMem_3 {
    position: absolute;
    z-index: 104;
    top: var(--radius-spin);
    left: calc(50% - 225px / 2);
    /* animation: rotate-2 var(--circular-spin-duration) linear infinite; */
    animation: rotate-init var(--circular-spin-duration) ease-out 1;
    transform: rotate(calc(0deg - var(--angel-spin) * 1)) translateY(calc(0px - var(--radius-spin)))
        rotate(calc(0deg + var(--angel-spin) * 1));
}

#content .club-mem-container #clubMem_4 {
    position: absolute;
    z-index: 103;
    top: var(--radius-spin);
    left: calc(50% - 225px / 2);
    /* animation: rotate-3 var(--circular-spin-duration) linear infinite; */
    animation: rotate-init var(--circular-spin-duration) ease-out 1;
    transform: rotate(calc(0deg + var(--angel-spin) * 1)) translateY(calc(0px - var(--radius-spin)))
        rotate(calc(0deg - var(--angel-spin) * 1));
}

#content .club-mem-container #clubMem_5 {
    position: absolute;
    z-index: 102;
    top: var(--radius-spin);
    left: calc(50% - 225px / 2);
    /* animation: rotate-4 var(--circular-spin-duration) linear infinite; */
    animation: rotate-init var(--circular-spin-duration) ease-out 1;
    transform: rotate(calc(0deg - var(--angel-spin) * 2)) translateY(calc(0px - var(--radius-spin)))
        rotate(calc(0deg + var(--angel-spin) * 2));
}

#content .club-mem-container #clubMem_6 {
    position: absolute;
    z-index: 101;
    top: var(--radius-spin);
    left: calc(50% - 225px / 2);
    /* animation: rotate-5 var(--circular-spin-duration) linear infinite; */
    animation: rotate-init var(--circular-spin-duration) ease-out 1;
    transform: rotate(calc(0deg + var(--angel-spin) * 2)) translateY(calc(0px - var(--radius-spin)))
        rotate(calc(0deg - var(--angel-spin) * 2));
}
@keyframes rotate-init {
    0%,
    50% {
        transform: rotate(0) translateY(0) rotate(0);
    }
}

#content .title-big {
    font-size: 40px;
}

.btn-rounded {
    border-radius: 50px !important;
}

.btn-w-lg {
    min-width: 200px;
}
/*--- Content Footer ---*/
#contentFooter {
    background-color: var(--content-footer-bg);
    min-height: 250px;
    padding-bottom: 10px;
    padding-top: var(--spacing-regular);
}

#contentFooter .col-xl-4 {
    padding-left: var(--col-3-padding-x);
    padding-right: var(--col-3-padding-x);
}

#contentFooter .footer-title {
    text-align: center;
}

#contentFooter .footer-divider {
    width: 90%;
    border-bottom: 1.5px solid var(--footer-divider);
    margin: 20px auto;
}

#contentFooter .footer-body {
    padding-top: 0;
}

#contentFooter .footer-body ul li {
    padding-bottom: 10px;
}

#contentFooter .footer-body ul li i {
    font-size: 1.4em;
    margin-right: 8px;
}

#footer-news-body ul {
    list-style-position: inside;
}

#footer-news-body ul li::before {
    font: normal normal normal 1.4em/1 FontAwesome;
    content: "\f0f4" !important;
    display: inline-block;
    margin-right: 7.5px;
}

.divider-100 {
    width: 100%;
    border-bottom: 1px solid var(--footer-divider);
    margin: 10px auto;
    transition: all 0.3s;
}
#footer-certificate > img {
    margin-left: 20px;
    margin-right: 10px;
}
/*--- Keyframes animation ---*/

/*--- Media Queries ---*/
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
    #sidebar {
        min-width: 100px;
        max-width: 100px;
        text-align: center;
        margin-left: -100px !important;
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #content {
        width: 100%;
    }
    .navbar {
        width: 100%;
    }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}

/*--- Bootstrap Padding Fix --*/

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
