/*--- Global Variables ---*/
:root {
    /* Global use */
    --white-90p: #e6e6e6;
    --white-85p: #d9d9d9;
    /* For theming */
    --nav-text: #e6e6e6;
    --nav-text-active: #ffffff;
    --primary-color: #ffcc99;
    --primary-color-active: #ffb366;
    --btn-primary-text: #404040;
    --btn-primary-text-active: #4d4d4d;
}

/*--- Custom Styles ---*/
html,
body {
    height: 100%;
    width: 100%;
}
#bodyIndex {
    background: linear-gradient(to bottom, rgba(170, 75, 107, 0.4), rgba(107, 107, 131, 0.4), rgba(59, 141, 153, 0.4)),
        url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-brand img {
    max-height: 65px;
    width: auto;
}

.navbar-nav li {
    padding-left: 20px;
}

.navbar-nav li a {
    color: var(--nav-text) !important;
}

.nav-link,
.navbar-nav li a .fa-search {
    font-size: 1.2em;
}

.navbar-nav li a:hover {
    color: var(--nav-text-active) !important;
}

.btn-border-lightWhiteIndex {
    border-color: var(--white-85p);
}

.navbar .dropdown-toggle::after {
    border: none !important;
    font: normal normal normal 20px/1 "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107" !important;
    vertical-align: -7.5%;
}

.fa-star {
    font-size: 0.8rem;
}

.text-shadow-slight {
    text-shadow: 1px 1px 10px #000;
}

.lesson-category {
    font-size: 0.9rem;
}

.lesson-category:hover {
    color: var(--primary-color-active);
    text-decoration: none;
}

.btn-primary {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--btn-primary-text);
}

.btn-primary:hover {
    background-color: var(--primary-color-active);
    border: 1px solid var(--primary-color-active);
    color: var(--btn-primary-text-active);
}

.btn-outline-primary {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.btn-outline-primary:hover {
    background-color: var(--primary-color-active);
    border: 1px solid var(--primary-color-active);
    color: var(--btn-primary-text-active);
}

.dropdown-item:hover {
    background-color: #1a1a1a;
}

.dropdown-divider {
    border-color: #666666;
}

.carousel .card:hover {
    transform: scale(0.965);
}

.carousel-inner .active .card {
    border-color: var(--primary-color-active);
}
/*--- Firefox Bug Fix ---*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*--- Keyframes animation ---*/

/*--- Media Queries ---*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
