:root {
    --text-normal-color: rgba(0, 0, 0, 0.75);
    --text-subNor-color: rgba(0, 0, 0, 0.35);
    --bg-color: #f6f6f6;
    --bg-color-darker: #f2f2f2;
    --border-color: rgba(0, 0, 0, 0.35);
}

html,
body {
    font-family: "Baloo", cursive;
    font-size: 16px;
    color: var(--text-normal-color);
    height: 100%;
}

a,
a:hover {
    text-decoration: none;
    outline: none;
}

.background-area {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.main-area {
    background: var(--bg-color);
    width: 450px;
    min-height: calc(100% - 4rem);
    margin: 2rem auto;
    padding: 4rem 2.25rem;
    transform: translate(0); /* For z-index */
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-header {
    text-align: center;
    margin-bottom: 3rem;
}

.main-header h2 {
    font-size: 3rem;
}

.main-body .form-area {
    border-bottom: solid 0.125rem var(--border-color);
    margin-bottom: 3.5rem;
    position: relative;
}

.main-body .form-area .textbox-area {
    width: 100%;
    height: 2.25rem;
    padding: 0 1.25rem;
    outline: none;
    background: none;
    border: none;
}

.main-body .form-area span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    color: var(--text-subNor-color);
    font-size: 1.25rem;
    transition: all 0.5s;
}

.main-body .form-area span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0.125rem;
    background: linear-gradient(135deg, #12c2e9, #c471ed, #f64f59);
    transition: all 0.5s;
}

.main-body .form-area .focusCustom + span::before {
    top: -0.75rem;
    color: var(--text-normal-color);
}

.main-body .form-area .focusCustom + span::after {
    width: 100%;
}

.main-body .main-body-btn-group {
    padding: 0.5rem 1rem 0;
}

.main-body .btn-sign-submit {
    display: block;
    width: 100%;
    height: 3.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.25rem;
    color: #f2f2f2;
    background: linear-gradient(135deg, #12c2e9, #c471ed, #12c2e9);
    background-size: 200%;
    transition: all 0.5s;
}

.main-body .btn-sign-submit:hover {
    background-position: right;
}

.main-footer {
    margin-top: 4rem;
}

.main-footer .main-footer-text {
    text-align: center;
}

.bypass-validation__message {
    font-size: 1.2rem;
    color: #ff7070;
    text-align: center;
    align-self: center;
    margin-bottom: 0.5rem;
}

@media (max-width: 1200px) {
    html,
    body {
        font-size: 15px;
    }

    .main-area {
        width: 60%;
    }
}

@media (max-width: 992px) {
    html,
    body {
        font-size: 14px;
    }

    .main-area {
        width: calc(90% - (90% - 60%) / 2);
    }
}
@media (max-width: 768px) {
    html,
    body {
        font-size: 14px;
    }

    .main-area {
        width: calc(90% - (90% - 60%) / 3);
    }
}
@media (max-width: 576px) {
    html,
    body {
        font-size: 14px;
    }

    .main-area {
        width: 90%;
    }
}
