/*--- COLOR ---*/
$color-white: #ffffff;
$color-dark: #000000;
$color-dark-bg: #343a40;
$color-dark-bg-darker: #2d3238;
$color-primary: #ffcc99;
$color-primary-darker: #ffb366;
$color-text-btn-primary: rgba($color-white, 0.25);
$color-text-btn-primary-lighter: rgb($color-white, 0.3);
$color-bg-body: #e9ebee;

/*--- MEASUREMENT ---*/
$padding-content: 20px;
$height-navbar: 65px;
$width-sidebar: 225px;
$width-sidebar-active: 100px;
$padding-x-col: 15px;
