/// Abstract
@import "./vendors/bourbon/bourbon";
@import "./abstracts/variable";
@import "./abstracts/mixin";
/***			BASE STYLES			***/
@import "./base/base";
@import "./base/typography";
/***			COMPONENTS STYLES			***/
@import "./components/containers";
@import "./components/avatar";
@import "./components/buttons";
@import "./components/button-to-top";
@import "./components/iframe-width-changed";
@import "./components/progress-flex";
/***			LAYOUT STYLES			***/
@import "./layout/sidebar";
@import "./layout/main";
@import "./layout/main-header";
@import "./layout/main-body";
@import "./layout/main-footer";
/***			PAGES STYLES			***/
@import "./pages/course.scss";
/***			THEMES FOR USE			***/
@import "./themes/themes";
