/*=============================================
        MAIN-CONTENT's COMMON STYLES
=============================================*/

a,
a:hover,
a:focus {
    color: inherit;
}

.content-main {
    width: calc(100% - #{$meas-sidebar__width});
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-content__body__bg;

    &.active {
        width: calc(100% - #{$meas-sidebar__width--onActive});
    }

    .col-items {
        > div {
            margin-bottom: 36px;
        }
    }

    .user-name {
        color: darken($color-primary__text, 5%);
        @if ($font-family-name == "Open Sans") {
            font-weight: 600;
        }
        font-size: 1.1rem;

        &:hover {
            color: $color-primary__text--onActive;
        }
    }

    @media (max-width: 1200px) {
    }

    @media (max-width: 992px) {
        width: 100%;
    }

    @media (max-width: 768px) {
    }

    @media (max-width: 576px) {
    }
}
