/*=============================================
                SIDEBAR LAYOUT
=============================================*/
$meas-sidebar__width: 14.25rem;
$meas-sidebar__width--onActive: 6.25rem;
/***                    Not active (expanded)               ***/
.sidebar-custom {
    width: $meas-sidebar__width;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    color: $color-sidebar__text;
    @include transition-short(all, 0.3s, ease);

    a {
        @include transition-short(all, 0.3s, ease);
    }

    .sidebar-custom__header {
        padding: 40px;
    }

    .sidebar-custom__components {
        margin: 30px 0;
        padding: 30px 0;
        // border-bottom: solid 2.5px $color-sidebar__bg;
        // border-top: solid 2.5px $color-sidebar__bg;

        li {
            padding-bottom: 10px;

            a {
                padding: 10px;
                padding-left: 20px;
                font-size: 1.1em;
                display: block;
                text-align: left;
                color: $color-sidebar__text;

                &:hover {
                    color: $color-primary--onActive;
                    background: $color-sidebar__bg;
                    text-decoration: none;
                }

                i {
                    margin-right: 10px;
                }
            }

            &.active {
                > a {
                    color: $color-primary--onActive;
                }
            }
        }

        ul {
            li {
                padding-bottom: 0px;

                a {
                    padding-left: 40px;
                    background: $color-sidebar__bg;
                }
            }
        }
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    a[aria-expanded="true"] {
        background: $color-sidebar__bg;
    }

    .dropdown-toggle::after {
        /* Change Dropdown Icon */
        border: none !important;
        font: normal normal normal 25px/1 "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f107" !important;
        /* Change Position and Animation */
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }
}

/***                    Active (collapsed)               ***/
.sidebar-custom.active {
    width: $meas-sidebar__width--onActive;
    text-align: center;

    .sidebar-custom__header {
        padding: 10px;
        border-bottom: none;
        margin-bottom: 4rem;
    }

    .sidebar-custom__components {
        margin: 0;
        padding: 20px 0;
        border: none;

        li {
            padding-bottom: 0px;

            a {
                padding: 20px 10px;
                text-align: center;
                font-size: 0.85em;

                i {
                    margin-right: 0;
                    margin-left: 0;
                    margin-bottom: 5px;
                    display: block;
                    font-size: 1.8em;
                }
            }
        }

        ul a {
            font-size: 0.75em;
            padding: 10px 0 !important;

            .fa-file-signature {
                padding-left: 7.5px !important;
            }
        }
    }

    .dropdown-toggle::after {
        font: normal normal normal 15px/1 "Font Awesome 5 Free";
        font-weight: 900;
        vertical-align: 0;
        top: auto;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
    .sidebar-custom {
        margin-left: calc(0rem - #{$meas-sidebar__width}) !important;
    }

    .sidebar-custom.active {
        margin-left: 0 !important;
    }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
