@import url("../abstract/variables.css");
@import url("../components/button.css");

/***

***/
#btnToTop {
    display: none;
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    bottom: 0.625rem;
    right: 0.625rem;
    z-index: 999;
    font-size: 1rem;
    color: var(--sideBar-text);
    border-radius: 50%;
}
