/*=============================================
                Bypass Validation
=============================================*/

.bypass-validation__message {
    text-align: center;
    color: $color-failed;
    font-size: 1.15rem;
}
