.dropdown-user {
    &__menu {
        &__header {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            color: $color-light;
        }
    }
}
