<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Giới thiệu về CLB Chúng ta cùng tiến</title>

        <!-- Framework CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600" />
        <link rel="stylesheet" href="../../css/bootstrap.min.css" />
        <!-- <link rel="stylesheet" href="../../css/FontAwesome/all.min.css" /> -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
        />
        <link rel="stylesheet" href="../../css/jquery.mCustomScrollbar.min.css" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="../../css/main/style-main.css" />
        <script src="../../js/jquery-3.4.1.min.js"></script>
        <script src="../../js/scriptsEvent.js"></script>
    </head>
    <body id="body_info">
        <!-- Back-to-top button -->
        <button
            type="button"
            class="btn btn-dark"
            onclick="toTopFunc()"
            id="btnToTop"
            title="Trở về đầu trang"
        >
            <i class="fas fa-chevron-up"></i>
        </button>
        <!-- END Back-to-top button -->
        <!-- Main -->
        <div class="wrapper">
            <!-- Sidebar -->
            <nav class="bg-dark sidebar-custom">
                <div class="sidebar-custom__header">
                    <a href="../../index.html">
                        <img src="../../img/logo.png" class="img-fluid" alt="CTCT_Logo" />
                    </a>
                </div>

                <ul class="list-unstyled sidebar-custom__components">
                    <li class="">
                        <a href="../course/courseList.html">
                            <i class="fas fa-book-open"></i>
                            Khóa học
                        </a>
                    </li>

                    <li>
                        <a
                            href="#classSubMenu"
                            data-toggle="collapse"
                            aria-expanded="false"
                            class="dropdown-toggle"
                        >
                            <i class="fas fa-school"></i>
                            Lớp học
                        </a>
                        <ul class="collapse list-unstyled" id="classSubMenu">
                            <li>
                                <a href="#">
                                    <i class="fas fa-info-circle"></i>
                                    Thông tin
                                </a>
                                <a href="#">
                                    <i class="fas fa-file-signature"></i>
                                    Đăng ký lớp học
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="../etc/info.html">
                            <i class="fas fa-info-circle fa"></i>
                            Giới thiệu
                        </a>
                    </li>

                    <li>
                        <a href="../etc/contact.html">
                            <i class="fas fa-envelope-open"></i>
                            Liên hệ
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- END Sidebar-->
            <!-- Page Content -->
            <div class="content-main">
                <!-- Content Header -->
                <nav class="navbar navbar-expand navbar-dark">
                    <div class="container-fluid">
                        <!-- sidebar-custom Toggler -->
                        <button
                            type="button"
                            id="sidebar-custom_collapse"
                            class="btn btn-outline-dark btn-custom--outline-dark text-white-90p"
                        >
                            <i class="fas fa-align-left"></i>
                            <!-- <i class="fas fa-angle-double-left fa-lg"></i> -->
                        </button>
                        <!-- END sidebar-custom Toggler -->
                        <!-- Navigation Links -->
                        <ul class="navbar-nav ml-auto">
                            <!-- <li class="nav-item mr-4 my-auto">
                                        <a class="" href="#"><i class="fas fa-search"></i></a>
                                    </li> -->

                            <li class="nav-item dropdown">
                                <button
                                    type="button"
                                    class="btn btn-outline-dark btn-custom--outline-dark dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    <i class="fas fa-user mr-2"></i> Tài khoản
                                </button>
                                <div class="dropdown-menu dropdown-menu-right bg-dark">
                                    <a class="dropdown-item" href="/login"
                                        ><i class="fas fa-user-check mr-2"></i> Đăng nhập</a
                                    >

                                    <a class="dropdown-item" href="/register"
                                        ><i class="fas fa-user-plus mr-2"></i>Đăng ký</a
                                    >
                                </div>
                            </li>
                        </ul>
                        <!-- END Navigation Links-->
                    </div>
                </nav>
                <!-- END Content Header -->
                <!-- Content Title-->
                <div
                    class="content-main__title"
                    style="background-image: url(../../img/computer-bg.png); background-position: 50% 30%"
                >
                    <div class="background-black-op">
                        <div class="content-w">
                            <div class="container-fluid title-container">
                                <div class="py-5">
                                    <span class="text-center">
                                        <h1 class="text-white font-weight-600 mb-3">
                                            Giới thiệu
                                        </h1>
                                        <h2 class="h5 font-weight-500 text-white-80p">
                                            Giới thiệu về Câu lạc bộ Chúng ta cùng tiến
                                        </h2>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Content Title-->
                <!-- Content Body-->
                <div class="content-main__body">
                    <!-- Section 1-->
                    <div id="section-1" class="bg-white">
                        <div class="content-w py-5">
                            <h2 class="h1 text-center mb-4">
                                Câu lạc bộ học thuật đứng đầu<br />Đại học Bách Khoa TP.HCM
                            </h2>

                            <div
                                id="slider_club-image"
                                class="carousel slide carousel-fade"
                                data-ride="carousel"
                            >
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img
                                            src="../../img/backgrounds/1.jpg"
                                            class="d-block w-100"
                                            alt="clubImage_1"
                                        />
                                    </div>

                                    <div class="carousel-item">
                                        <img
                                            src="../../img/backgrounds/2.jpg"
                                            class="d-block w-100"
                                            alt="clubImage_2"
                                        />
                                    </div>

                                    <div class="carousel-item">
                                        <img
                                            src="../../img/backgrounds/3.jpg"
                                            class="d-block w-100"
                                            alt="clubImage_3"
                                        />
                                    </div>
                                </div>

                                <a
                                    class="carousel-control-prev"
                                    href="#slider_club-image"
                                    role="button"
                                    data-slide="prev"
                                >
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a
                                    class="carousel-control-next"
                                    href="#slider_club-image"
                                    role="button"
                                    data-slide="next"
                                >
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit
                                ligula nec nisi pulvinar gravida. Mauris non erat sem. Nam ultricies ut risus
                                porta feugiat. Praesent varius auctor scelerisque. Proin cursus laoreet mi, at
                                pretium elit egestas sit amet. Sed feugiat nulla nulla, sit amet feugiat eros
                                semper non. Cras id semper eros. Maecenas nisi ipsum, suscipit et consequat
                                et, euismod ut justo. Duis commodo, elit vel dictum pellentesque, risus neque
                                mattis lacus, et ultricies augue massa a nisl. Curabitur feugiat finibus arcu
                                et varius.
                            </p>
                        </div>
                    </div>
                    <!-- END Section 1-->
                    <!-- Section 2 -->
                    <div id="section-2">
                        <div class="content-w py-5">
                            <h2 class="text-center mb-4 h1">
                                Đội ngũ thành viên
                            </h2>

                            <div class="club-mem-container">
                                <div class="club-mem-card" id="clubMem_1">
                                    <div
                                        class="card-custom--grd card-custom--grd--rounded bg-white block--fx-shadow"
                                    >
                                        <div class="card-custom--grd--header bg-grd-WeddingDay">
                                            <img
                                                src="../../img/avatar/ChuTichKim.png"
                                                class="avatar--md avatar--sm--fx-shadow d-block mx-auto"
                                            />
                                        </div>

                                        <div class="card-custom--grd--body text-center">
                                            <h4>Chủ tịch Kim</h4>
                                            <p class="m-0">
                                                Trùm Cuối
                                            </p>
                                        </div>

                                        <div class="card-custom--grd--footer text-center">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a href="https://www.facebook.com/LeoT3007">
                                                        <i
                                                            class="fab fa-facebook-square icon--grd bg-grd-Vivid"
                                                        ></i>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="#">
                                                        <i class="fas fa-envelope icon--grd bg-grd-Vivid"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="club-mem-card" id="clubMem_2">
                                    <div
                                        class="card-custom--grd card-custom--grd--rounded bg-white block-fx-shadow"
                                    >
                                        <div class="card-custom--grd--header bg-grd-WeddingDay">
                                            <img
                                                src="../../img/avatar/NhanNguyen.jpg"
                                                class="avatar--md avatar--sm--fx-shadow d-block mx-auto"
                                            />
                                        </div>

                                        <div class="card-custom--grd--body text-center">
                                            <h4>Nguyễn Thành Nhân</h4>
                                            <p class="m-0">
                                                Trưởng Ban Chuyên Môn
                                            </p>
                                        </div>

                                        <div class="card-custom--grd--footer text-center">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a href="https://www.facebook.com/tannyan.nguyen">
                                                        <i
                                                            class="fab fa-facebook-square icon--grd bg-grd-Vivid"
                                                        ></i>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="#">
                                                        <i class="fas fa-envelope icon--grd bg-grd-Vivid"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="club-mem-card" id="clubMem_3">
                                    <div
                                        class="card-custom--grd card-custom--grd--rounded bg-white block-fx-shadow"
                                    >
                                        <div class="card-custom--grd--header bg-grd-Jupiter">
                                            <img
                                                src="../../img/avatar/ThangEm.jpg"
                                                class="avatar--md avatar--sm--fx-shadow d-block mx-auto"
                                            />
                                        </div>

                                        <div class="card-custom--grd--body text-center">
                                            <h4>Ngô Lê Gia Thuấn</h4>
                                            <p class="m-0">
                                                Trưởng Ban Sự kiện
                                            </p>
                                        </div>

                                        <div class="card-custom--grd--footer text-center">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a href="https://www.facebook.com/giathuan.0305">
                                                        <i
                                                            class="fab fa-facebook-square icon--grd bg-grd-Vivid"
                                                        ></i>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="#">
                                                        <i class="fas fa-envelope icon--grd bg-grd-Vivid"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="club-mem-card" id="clubMem_4">
                                    <div
                                        class="card-custom--grd card-custom--grd--rounded bg-white block-fx-shadow"
                                    >
                                        <div class="card-custom--grd--header bg-grd-Jupiter">
                                            <img
                                                src="../../img/avatar/ThanhPhong.jpg"
                                                class="avatar--md avatar--sm--fx-shadow d-block mx-auto"
                                            />
                                        </div>

                                        <div class="card-custom--grd--body text-center">
                                            <h4>Võ Thanh Phong</h4>
                                            <p class="m-0">
                                                Trưởng Ban Truyền Thông
                                            </p>
                                        </div>

                                        <div class="card-custom--grd--footer text-center">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a
                                                        href="https://www.facebook.com/profile.php?id=100009567939661"
                                                    >
                                                        <i
                                                            class="fab fa-facebook-square icon--grd bg-grd-Vivid"
                                                        ></i>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="#">
                                                        <i class="fas fa-envelope icon--grd bg-grd-Vivid"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="club-mem-card" id="clubMem_5">
                                    <div
                                        class="card-custom--grd card-custom--grd--rounded bg-white block-fx-shadow"
                                    >
                                        <div class="card-custom--grd--header bg-grd-Cherryblossom">
                                            <img
                                                src="../../img/avatar/ChiYen.jpg"
                                                class="avatar--md avatar--sm--fx-shadow d-block mx-auto"
                                            />
                                        </div>

                                        <div class="card-custom--grd--body text-center">
                                            <h4>Tăng Phi Yến</h4>
                                            <p class="m-0">
                                                Trưởng Ban Nhân sự
                                            </p>
                                        </div>

                                        <div class="card-custom--grd--footer text-center">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a href="https://www.facebook.com/phiyen.tang.92">
                                                        <i
                                                            class="fab fa-facebook-square icon--grd bg-grd-Vivid"
                                                        ></i>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="#">
                                                        <i class="fas fa-envelope icon--grd bg-grd-Vivid"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="club-mem-card" id="clubMem_6">
                                    <div
                                        class="card-custom--grd card-custom--grd--rounded bg-white block-fx-shadow"
                                    >
                                        <div class="card-custom--grd--header bg-grd-Cherryblossom">
                                            <img
                                                src="../../img/avatar/UyenHuynh.jpg"
                                                class="avatar--md avatar--sm--fx-shadow d-block mx-auto"
                                            />
                                        </div>

                                        <div class="card-custom--grd--body text-center">
                                            <h4>Huỳnh Thị Uyên</h4>
                                            <p class="m-0">
                                                Trưởng Ban Tài Chính
                                            </p>
                                        </div>

                                        <div class="card-custom--grd--footer text-center">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a href="https://www.facebook.com/mary.9655185">
                                                        <i
                                                            class="fab fa-facebook-square icon--grd bg-grd-Vivid"
                                                        ></i>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="#">
                                                        <i class="fas fa-envelope icon--grd bg-grd-Vivid"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Section 2 -->
                    <!-- Section 3-->
                    <div id="section-3" class="bg-white">
                        <div class="content-w py-5">
                            <h2 class="h1 text-center mb-4">Thành tựu</h2>

                            <div class="club-arch-container">
                                <div class="row">
                                    <div class="col-md-4 club-arch__item">
                                        <div style="color: #ffbf80">
                                            <i class="fas fa-book-open"></i>
                                        </div>
                                        <div>
                                            <span
                                                >Hơn
                                                <span class="font-weight-bold">100 Khóa học</span>
                                                trải rộng khắp các bộ môn
                                                <span class="font-weight-bold">Đại cương</span>
                                                và
                                                <span class="font-weight-bold">Chuyên ngành</span>
                                                Đại học
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 club-arch__item">
                                        <div style="color: #00cccc">
                                            <i class="fas fa-users"></i>
                                        </div>
                                        <div>
                                            <span
                                                >Đội ngũ hùng hậu và chất lượng về cả chuyên môn lẫn kỹ năng.
                                                Là nơi tập hợp nhân tài với tỉ lệ
                                                <span class="font-weight-bold">Kỹ sư tài năng</span>
                                                là
                                                <span class="font-weight-bold">trên 90%</span></span
                                            >
                                        </div>
                                    </div>

                                    <div class="col-md-4 club-arch__item">
                                        <div style="color: #00b300">
                                            <i class="fas fa-seedling"></i>
                                        </div>
                                        <div>
                                            <span
                                                >Không chỉ chuyên môn về dạy học mà Câu lạc bộ còn là đơn vị
                                                tổ chức/hợp tác với
                                                <span class="font-weight-bold"
                                                    >hơn 50 sự kiện nổi tiếng</span
                                                ></span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Section 3 -->
                    <!-- Section 4 -->
                    <div id="section-4" class="background-grd-KyeMeh">
                        <div class="content-w py-5 text-center">
                            <h2 class="h1 mb-4">Đóng góp - Tài trợ</h2>

                            <p class="h5 font-weight-400">
                                Cùng tham gia với Câu lạc bộ của chúng mình và vươn xa ra biển lớn!
                                <br />
                                Hoặc tài trợ cho chúng mình để có nhiều nguồn lực cung cấp nội dung chất lượng
                                hơn cho các bạn!
                            </p>

                            <div>
                                <button type="button" class="btn btn-light btn--rounded min-w--200 mt-4">
                                    Tài trợ
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- END Section 4 -->
                </div>
                <!-- END Content Body-->
                <!-- Content Footer -->
                <div class="content-main__footer">
                    <div class="container-fluid content-w">
                        <div class="row">
                            <div class="col-xl-4">
                                <h4 class="content-main__footer__title">
                                    Về Chúng Ta Cùng Tiến
                                </h4>
                                <div class="content-main__footer__divider"></div>
                                <div class="content-main__footer__body" id="footer-about-body">
                                    <p>
                                        Tự hào là câu lạc bộ cà khịa mạnh nhất ĐH.Bách Khoa TP.HCM, chúng tôi
                                        mang đến cho bạn những trải nghiệm cà khịa/bị cà khịa một cách vui/đau
                                        nhất có thể. Không chỉ dừng ở đó chúng tôi còn phát người yêu miễn phí
                                        mỗi kỳ GSAX hè, và đã được rất nhiều bạn trẻ nhiệt tình tham gia và
                                        hưởng ứng nồng nhiệt. Hãy đến cùng chúng tôi, đảm bảo bạn sẽ không
                                        thất vọng!
                                    </p>
                                </div>
                            </div>

                            <div class="col-xl-4">
                                <h4 class="content-main__footer__title">Tin tức mới nhất</h4>
                                <div class="content-main__footer__divider"></div>
                                <div class="content-main__footer__body news__body">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#"
                                                >Hành trình làm Youtube của người mà chúng ta luôn kính
                                                trọng...</a
                                            >
                                        </li>
                                        <li>
                                            <a href="#">Sơn sắp làm đám cưới!</a>
                                        </li>
                                        <li>
                                            <a href="#"
                                                >Người anh quốc dân kể về kế hoạch 5 năm tiếp theo của
                                                mình.</a
                                            >
                                        </li>
                                        <li>
                                            <a href="#"
                                                >Khóa học mới: "Làm sao để hút cần đúng cách?" by GS Quân
                                                Bùi.</a
                                            >
                                        </li>
                                        <li>
                                            <a href="#">GS Cường vừa ra khóa học mới!</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-xl-4">
                                <h4 class="content-main__footer__title">Liên hệ</h4>
                                <div class="content-main__footer__divider"></div>
                                <div class="content-main__footer__body" id="footer-contact-body">
                                    <ul class="list-unstyled">
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i>
                                            Phòng 102, Nhà thi đấu trường Đại học Bách Khoa, ĐHQG, Đông Hòa,
                                            Dĩ An, Bình Dương
                                        </li>
                                        <li>
                                            <i class="fas fa-phone"></i>
                                            098 184 56 59
                                        </li>
                                        <li>
                                            <i class="fas fa-clock"></i>
                                            Giờ mở cửa: 08:00 - 18:00
                                        </li>
                                        <li>
                                            <i class="fas fa-envelope"></i>
                                            cuong.vuong.bk@hcmut.edu.vn
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="divider--100"></div>
                        <div class="row certificate">
                            <img
                                src="../../img/logo.png"
                                class="img-fluid d-inline-block"
                                style="max-height: 35px"
                            />
                            <p class="d-inline-block my-auto">
                                Chúng ta cùng tiến &copy 2019
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END Content Footer-->
            </div>
            <!-- END Page Content -->
        </div>

        <!-- END Main -->
        <!-- Javascript -->
        <script src="../../js/popper.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="../../js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="../../js/jquery.slimscroll.min.js"></script>
        <script src="../../js/smooth-scrollbar/smooth-scrollbar.js"></script>
        <script src="../../js/smooth-scrollbar/plugins/overscroll.js"></script>
        <!-- Custom Script -->
        <script src="../../js/scripts.js"></script>
        <script src="../../js/scriptsMain.js"></script>
        <!-- Instant Script -->
        <script>
            /*** Smooth-scrollbar ***/
            var Scrollbar = window.Scrollbar;
            var OverscrollPlugin = window.OverscrollPlugin;
            Scrollbar.use(OverscrollPlugin);

            const options = {
                damping: 0.1,
                thumbMinSize: 20,
                renderByPixels: !("ontouchstart" in document),
                alwaysShowTracks: false,
                continuousScrolling: true
            };

            const overscrollOptions = {
                enable: true,
                effect: "bounce",
                damping: 0.15,
                maxOverscroll: 75,
                glowColor: "#222a2d"
            };

            const scrollbar_lectureList = Scrollbar.initAll({
                ...options,
                plugins: {
                    overscroll: { ...overscrollOptions }
                }
            });
        </script>
    </body>
</html>
