:root {
    /* Global use */
    --white-90p: #e6e6e6;
    --white-85p: #d9d9d9;
    /* For theming */
    --nav-text: #d9d9d9;
    --sideBar-text: #d9d9d9;
    --sideBar-text-bg: #2d3238;
    --primary-color: #ffcc99;
    --primary-color-active: #ffb366;
    --text-primary-color: #ff8000;
    --text-primary-color-active: #ffb366;
    --btn-primary-text: #404040;
    --btn-primary-text-active: #4d4d4d;
    --content-body-bg: #e9ebee;
    --content-footer-bg: #ffffff;
    --footer-divider: #bfbfbf;
    --dropdown-dark-item-bg-active: #1a1a1a;
    /* Measurement */
    --col-padding-x: 15px;
    --spacing-large: 1.5rem;
    --navbar-height: 4rem;
    --sidebar-width: 14.25rem;
    --sidebar-width-active: 6.25rem;
    --border-radius-regular: 0.25rem;
}
