@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Roboto:400,400i,700&display=swap");

/*=============================================
                BASE INITIATION
=============================================*/
html,
body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    width: 100%;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

///         MEDIA-QUERIES
