@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:400,500,700&display=swap");

/*=============================================
                BASE INITIATION
=============================================*/
$font-family-name: "Open Sans";
$font-family-type: sans-serif;

html,
body {
    font-size: 16px;
    font-family: $font-family-name, $font-family-type;
    height: 100%;
    width: 100%;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

///         MEDIA-QUERIES
