/*=============================================
                TYPOGRAPHYS
=============================================*/
@each $h in $headings {
    #{$h},
    .#{$h} {
        @if ($font-family-name == "Open Sans") {
            font-weight: 600;
        }
    }
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// .h1,
// .h2,
// .h3,
// .h4,
// .h5,
// .h6 {
//     @if ($font-family-name == "Open Sans") {
//         font-weight: 600;
//     }
// }

.text-overflow--1-line {
    @include text-overflow--1-line;
}

@for $i from 2 to 6 {
    .text-overflow--#{$i}-line {
        @include text-overflow--n-line($i);
    }
}

.highlight-num {
    margin-right: 0.25rem;
}
