///      MIXINS FOR BACKGROUND
@mixin bg-fullpage {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
    width: 100%;
    min-height: 100%;
}

@mixin bg-grd($direction, $first, $second, $third: 0, $url: 0) {
    @if ($url == 0) {
        @if ($third == 0) {
            background: -webkit-linear-gradient($direction, $first, $second);
            background: -moz-linear-gradient($direction, $first, $second);
            background: -ms-linear-gradient($direction, $first, $second);
            background: -o-linear-gradient($direction, $first, $second);
            background: linear-gradient($direction, $first, $second);
        } @else {
            background: -webkit-linear-gradient($direction, $first, $second, $third);
            background: -moz-linear-gradient($direction, $first, $second, $third);
            background: -ms-linear-gradient($direction, $first, $second, $third);
            background: -o-linear-gradient($direction, $first, $second, $third);
            background: linear-gradient($direction, $first, $second, $third);
        }
    } @else {
        @if ($third == 0) {
            background: -webkit-linear-gradient($direction, $first, $second), $url;
            background: -moz-linear-gradient($direction, $first, $second), $url;
            background: -ms-linear-gradient($direction, $first, $second), $url;
            background: -o-linear-gradient($direction, $first, $second), $url;
            background: linear-gradient($direction, $first, $second), $url;
        } @else {
            background: -webkit-linear-gradient($direction, $first, $second, $third), $url;
            background: -moz-linear-gradient($direction, $first, $second, $third), $url;
            background: -ms-linear-gradient($direction, $first, $second, $third), $url;
            background: -o-linear-gradient($direction, $first, $second, $third), $url;
            background: linear-gradient($direction, $first, $second, $third), $url;
        }
    }
}
