@mixin media-breakpoint-up($size) {
    @if $size == sm {
        @media (min-width: 576px) {
            @content;
        }
    } @else if $size == md {
        @media (min-width: 768px) {
            @content;
        }
    } @else if $size == lg {
        @media (min-width: 992px) {
            @content;
        }
    } @else if $size == xl {
        @media (min-width: 1200px) {
            @content;
        }
    } @else if $size == xxl {
        @media (min-width: 1800px) {
            @content;
        }
    }
}

@mixin media-breakpoint-down($size) {
    @if $size == sm {
        @media (max-width: 575.98px) {
            @content;
        }
    } @else if $size == md {
        @media (max-width: 767.98px) {
            @content;
        }
    } @else if $size == lg {
        @media (max-width: 991.98px) {
            @content;
        }
    } @else if $size == xl {
        @media (max-width: 1199.98px) {
            @content;
        }
    }
}
