///				TRANSITION's MIXINS				///
@mixin transition-short($transition, $duration, $timing-function) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;

    -moz-transition-duration: $duration;
    -o-transition-duration: $duration;
    -webkit-transition-duration: $duration;
    transition-duration: $duration;

    -moz-transition-timing-function: $timing-function;
    -o-transition-timing-function: $timing-function;
    -webkit-transition-timing-function: $timing-function;
    transition-timing-function: $timing-function;

    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transition-property($property...) {
    -moz-transition-property: $property;
    -o-transition-property: $property;
    -webkit-transition-property: $property;
    transition-property: $property;
}

@mixin transition-duration($duration...) {
    -moz-transition-duration: $duration;
    -o-transition-duration: $duration;
    -webkit-transition-duration: $duration;
    transition-duration: $duration;
}

@mixin transition-timing-function($timing-function...) {
    -moz-transition-timing-function: $timing-function;
    -o-transition-timing-function: $timing-function;
    -webkit-transition-timing-function: $timing-function;
    transition-timing-function: $timing-function;
}

@mixin transition-delay($delay...) {
    -moz-transition-delay: $delay;
    -o-transition-delay: $delay;
    -webkit-transition-delay: $delay;
    transition-delay: $delay;
}
