/*=============================================
            STYLES FOR ONLY CONTACT PAGE
=============================================*/

#body_contact .content-main {
    &__body {
        .content-w {
            width: 60%;

            .block {
                &__header {
                    color: darken($color-primary, 25%);
                }
            }

            @media (max-width: 1200px) {
                width: 80%;
            }

            @media (max-width: 992px) {
            }

            @media (max-width: 768px) {
                width: 90%;
            }

            @media (max-width: 576px) {
                width: 100%;
            }
        }
    }
}
