/*=============================================
            STYLES FOR ONLY CONTACT PAGE
=============================================*/

#body_contact .content-main {
    &__body {
        .content-w {
            width: 60%;
        }
    }
}
