/*=============================================
            STYLES FOR INDEX PAGE
=============================================*/

///				Variables				///
$color-text--normal: darken(#ffffff, 10%);
$color-text--onHover: lighten($color-text--normal, 10%);

html,
body {
    font-family: "Roboto", sans-serif;
    color: $color-text--normal;
    font-size: 16px;
}

.bg-img {
    @include bg-grd(
        to bottom,
        rgba(170, 75, 107, 0.4),
        rgba(107, 107, 131, 0.4),
        rgba(59, 141, 153, 0.4),
        url(../../img/background.jpg)
    );
    @include bg-fullpage;
}

.navbar {
    background: transparent;

    .navbar-brand img {
        max-height: 4rem;
        width: auto;
    }

    .navbar-nav {
        li {
            padding-left: 1.25rem;

            a {
                color: $color-text--normal;
                font-size: 1.2rem;

                .fa-search {
                    color: $color-text--normal;
                    font-size: 1.2rem;
                }

                &:hover {
                    color: $color-text--onHover;
                }
            }

            .dropdown-toggle {
                &::after {
                    border: none !important;
                    font: normal normal normal 20px/1 "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f107";
                    vertical-align: -7.5%;
                }
            }

            .dropdown-menu {
                max-width: 10rem;

                .dropdown-item {
                    padding: 0.5rem 1.25rem;
                    font-size: 1rem;

                    &:hover {
                        background-color: #1a1a1a;
                    }
                }
            }
        }
    }
}

// @import url("https://fonts.googleapis.com/css?family=Merienda&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Mali&display=swap");
@import url("https://fonts.googleapis.com/css?family=Itim&display=swap");
.brand--ultra {
    font-family: "Itim", cursive;
    color: darken(#ffffff, 5%);
    font-size: 5rem;

    @include media-breakpoint-down(md) {
        font-size: 4rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 2.5rem;
    }
}

.two-col-section {
    width: 80%;

    @include media-breakpoint-down(xl) {
        width: 87.5%;
    }

    @include media-breakpoint-down(lg) {
        width: 92.5%;
    }

    @include media-breakpoint-down(md) {
        width: 95%;
    }
}
// .two-col-section {
//     min-height: 100%;
// }

.fa-star {
    font-size: 1rem;
}

.course {
    font-size: 0.95rem;

    &:hover {
        color: $color-primary__text--onActive !important;
        text-decoration: none;
    }
}

.lecture-num {
    font-size: 3rem;
}

.lecture-title {
    font-size: 1.5rem;
}

#carousel_course-card {
}

// .carousel {
//     .carousel-inner {
//         // .card {
//         //     &:hover {
//         //         transform: scale(0.975);
//         //         .card-body {
//         //             .card-title {
//         //                 left: -100%;
//         //                 width: 200%;
//         //             }
//         //         }
//         //     }
//         .carousel-item {
//             max-width: 100%;
//             overflow: hidden;

//             .card {
//                 max-width: 100%;
//                 overflow: hidden;

//                 .card-body {
//                     overflow: hidden;

//                     .card-title {
//                         white-space: nowrap;
//                         overflow: hidden;
//                         text-overflow: ellipsis;
//                         // position: relative;
//                         // left: 0;
//                         // width: 100%;

//                         // -webkit-transition: left 3s, width 3s linear;
//                         // -moz-transition: left 3s, width 3s linear;
//                         // transition: left 3s, width 3s linear;
//                     }
//                 }
//             }
//         }
//         // }

//         .carousel-item.active {
//             .card {
//                 border: solid 2.5px $color-primary--onActive;
//             }
//         }
//     }
// }

@media (max-width: 1200px) {
    html,
    body {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    html,
    body {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    html,
    body {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    html,
    body {
        font-size: 14px;
    }
}
