<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Đăng nhập</title>

        <!-- Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600" />
        <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet" />
        <!-- Framework CSS -->
        <link rel="stylesheet" href="../css/bootstrap.min.css" />
        <!-- <link rel="stylesheet" href="css/FontAwesome/all.min.css" /> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
        <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="../css/styleCommon.css" />
        <link rel="stylesheet" href="../css/carousel.css" />
        <link rel="stylesheet" href="../css/styleSignIn.css" />
    </head>
    <body id="BodySign">
        <div class="background-area bg-grd-KyeMeh">
            <div class="main-area">
                <div class="main-header">
                    <h2>Đăng nhập</h2>
                </div>

                <form class="main-body form">
                    <div id="emailFormContaier" class="form-area">
                        <input id="emailForm" type="email" class="form-control shadow-none textbox-area" required />
                        <span data-placeholder="Email"></span>
                    </div>

                    <div id="passwdFormContaier" class="form-area">
                        <input id="passwdForm" type="password" class="form-control shadow-none textbox-area" required />
                        <span data-placeholder="Mật khẩu"></span>
                    </div>

                    <div class="main-body-btn-group">
                        <button type="submit" class="btn-sign-submit" role="button" onclick="validateSignIn()">
                            Đăng nhập
                        </button>
                    </div>
                </form>

                <div class="main-footer">
                    <div class="main-footer-text">
                        <h5>Chưa có tài khoản? <a href="#">Đăng ký ngay!</a></h5>
                    </div>
                </div>
            </div>
        </div>

        <!-- Javascript -->
        <script src="../js/jquery-3.4.1.min.js"></script>
        <script src="../js/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
        <!-- Custom Script -->
        <script src="../js/scripts.js"></script>
        <script src="../js/scriptSign.js"></script>
        <script src="../js/scriptSign-signIn.js"></script>
        <!-- Instant Scripts -->
        <script type="text/javascript"></script>
    </body>
</html>
